<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Credible Web{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript" src="/static/eval_status.js"></script>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/frame2.css" rel="stylesheet">
    <link href="/static/basic.css" rel="stylesheet">
    {% block docs %}{% endblock docs %}
</head>

<body>
    <div id="topbar">
	        {% block topbar %}
	        {% endblock topbar %}
    </div>
	<div id="container">
		<div id="linkList">
			{% block sidebar %}
			{% endblock sidebar %}
		</div>
		<div id="centerblock">
            <div id="mainblock">
                <div class="center_top"></div>
	            <div id="content">
	            {% block content %}
                {% endblock content%}
                </div>
                <div id="loading">
	               <img src="/static/loading.gif" />
                </div>
               <div class="center_bottom"></div>
	       </div>
	       {% block rmdblock %}
	       <div id="rmdblock">
	           <div class="center_top"></div>
	           <div id="rmdcontent">
	               {% block rmdcontent %}
	               {% endblock rmdcontent %}
               </div>
	           <div class="center_bottom"></div>
           </div>
           {% endblock rmdblock %}
	    </div>
	    <div id="rightbar">
	       <div id="heaven_block">
	           <div class="right_top"></div>
	           <div id="heaven_content">
	               {% block heaven_content %}
	               {% endblock heaven_content %}
               </div>
	           <div class="right_bottom"></div>
           </div>
        </div>
        <div id="footer">
            <a href="/">Home</a>
            |
            <a href="/extension_installation">Intall Extension</a>
            |
            <a href="/privacy">Data Privacy</a>
            |
            <a href="/feedback">Feedback</a>
        </div>
	    <div class="expand"></div>
	 </div>
</body>
</html>
