{% extends 'base1.html' %}
{% block docs %}
<script type="text/javascript" src="/static/js/welcome.js"></script>
{% endblock docs %}
{% block modal_title %}
Credible Web Feedback Form
{% endblock modal_title %}
{% block modal_body %}
{% if recorded %}
    <div id="feedback_record">
        Your feedback has been recorded. We will process it soon. Thank you for your help:)!
    </div>
{% else %}
<div id="feedback_form">
    <div id="feedback_words">
    <p>
        As Credible Web developers, we try our best to keep this website robust and provide a good user experience. Your help with this feedback will greatly improve our service. Thanks a lot!
    </p>
    <p><span class="text-error">* Required</span></p>
    <p><span id="feedback_tip" class="text-error"></span></p>
    </div>
    <form action="/feedback" method="post" onsubmit="return check_feedback(this)">
        <div id="feedback_type">
        <h5>Type of feedback<span class="text-error">*</span></h5>
        <select name="type">
            <option value="bug">I found a bug</option>
            <option value="suggestion">I have a suggestion</option>
            <option value="feeling">Others</option>
        </select>
        </div>
    
        <div id="feedback_description">
        <h5>Description<span class="text-error">*</span></h5>
        <textarea name="description" rows="7" style="width:90%"></textarea>
        </div>
    
        <div id="feedback_name">
        <h5>Real Name on Credible Web</h5>
            {% if logged_in_user  is defined %}
            <input type="text" size="20" name="name" value="{{ logged_in_user.realname }}">
            {% else %}
            <input type="text" size="20" name="name">
            {% endif %}
        </div>
    
        <div id="feedback_browser">
        <h5>Type of browser(e.g. Chrome, Mozilla, Opera)</h5>
        <input type="text" size="20" name="browser">
        </div>
    
        <div id="feedback_email">
        <h5>E-mail address</h5>
        <input type="text" size="20" name="email">
        </div>

        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
{% endif %}
{% endblock modal_body %}
