{% extends 'homepage.html' %}
{% block docs %}
        <style>
            #content_evaluation{
                text-align: center;
            }
        </style>
{% endblock docs %}
{% block nav_eval %}
<li class="active"><a href="/geteval"><i class="icon-question-sign"></i> Evaluate</a></li>
{% endblock nav_eval %}

{% block main_legend %}
    Curious of what others think about a web page? Submit its' URL!
{% endblock main_legend %}

{% block content %}
<div id="content_evaluation">
<h4>Submit URL for Evaluation</h4>
<form method="get"  onsubmit="open_page(document.getElementById('url').value);return false;">
    <div class="input-append">
        <input class="span5" id="url" name="url" type="text">
        <button class="btn" type="submit">Go!</button>
    </div>
</form>
</div>
{% endblock content %}
{#
{% block mainblock %}
{% endblock mainblock %}
        #}