{% extends 'homepage.html' %}
{% block sidebar_evaluation %}
<li>
    <p style="background-color:#dddddd"><a href="/geteval">Evaluation</a></p>
</li>
{% endblock sidebar_evaluation %}
{% block content %}
<div id="content_evaluation">
<form method="get"  onsubmit="open_page(document.getElementById('url').value);return false;">
    Please Input The URL Your Want to Evaluate:<br />
    <input type="text" name="url" id="url"></input>
    <input type="submit" value="Go to Evaluate" />
    <input type="button" value="Show Status" onclick="show_status(document.getElementById('url').value)" />
</form>
<div id="status_table"></div>
</div>
{% endblock content %}
{% block rmdcontent %}
    <p>You might want to evaluate credibility of the following urls:</p>
    <ul>
    {% for item in recommendations %}
        <li>{{ item.topic }}:<a href="/evaluate?url={{ item.url | encode_url }}" target="evaluate_window">{{ item.url }}</a></li>
    {% endfor %}
    </ul>
{% endblock rmdcontent %}
