<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#helprmd-tab1" data-toggle="tab">Sparsely Rated</a></li>
        <li><a href="#helprmd-tab2" data-toggle="tab">Controversial</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="helprmd-tab1">
            <div id="helprmd-carousel1" class="carousel slide">
                <div class="carousel-inner">
                    {% for item in sparse_rmds %}
                    {% if loop.index0 is divisibleby 3 %}
                    {% if loop.index0 == 0 %}
                    <div class="active item">
                        {% else %}
                        <div class="item">
                            {% endif %}
                            <div class="row-fluid">
                                <ul class="thumbnails">
                                    {% endif %}
                                    <li class="span4">
                                        <div class="thumbnail">
                                            <a href="/evaluate?url={{ item.url | encode_url }}" target="evaluate_window">
                                                <img src="{{ item.snapshot }}" />
                                            </a>
                                            <h5 style="height: 60px; word-wrap: break-word;overflow-y: hidden">{{ item.title }}</h5>
                                            <p style="margin-top: 8px"><span class="text_blue">{{ item.topic | get_topic_text }}</span></p>
                                            <p>
                                                {% set avg = (item.ratings | get_avg) %}
                                                {% for number in range(avg | int) %}
                                                <img src="/static/star.png" width="20" height="20" title="{{ avg }}" />
                                                {% endfor %}
                                                {% for number in range(5-(avg | int)) %}
                                                <img src="/static/star-bw.png" width="20" height="20" title="{{ avg }}" />
                                                {% endfor %}
                                                ({{ item.total }} ratings)
                                            </p>
                                            <p>
                                                <a href="/evaluate?url={{ item.url | encode_url }}" target="evaluate_window">Rate it</a>
                                                for up to
                                                                <span class="text_blue">
                                                                    <span class="m_big_bold">
                                                                        {{ item.url | get_reward_points(logged_in_user) }}
                                                                    </span>
                                                                    points!
                                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    {% if ((loop.index0 + 1) is divisibleby 3) or ((loop.index0 + 1) == 11) %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control left" href="#helprmd-carousel1" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#helprmd-carousel1" data-slide="next">&rsaquo;</a>
                </div>
            </div>
            <div class="tab-pane" id="helprmd-tab2">
                <div id="helprmd-carousel2" class="carousel slide">
                    <div class="carousel-inner">
                        {% for item in diff_rmds %}
                        {% if loop.index0 is divisibleby 3 %}
                        {% if loop.index0 == 0 %}
                        <div class="active item">
                            {% else %}
                            <div class="item">
                                {% endif %}
                                <div class="row-fluid">
                                    <ul class="thumbnails">
                                        {% endif %}
                                        <li class="span4">
                                            <div class="thumbnail">
                                                <a href="/evaluate?url={{ item.url | encode_url }}" target="evaluate_window">
                                                    <img src="{{ item.snapshot }}" />
                                                </a>
                                                <h5 style="height: 60px; word-wrap: break-word;overflow-y: hidden">{{ item.title }}</h5>
                                                <p style="margin-top: 8px"><span class="text_blue">{{ item.topic | get_topic_text }}</span></p>
                                                <p>
                                                    {% set avg = (item.ratings | get_avg) %}
                                                    {% for number in range(avg | int) %}
                                                    <img src="/static/star.png" width="20" height="20" title="{{ avg }}" />
                                                    {% endfor %}
                                                    {% for number in range(5-(avg | int)) %}
                                                    <img src="/static/star-bw.png" width="20" height="20" title="{{ avg }}" />
                                                    {% endfor %}
                                                    ({{ item.total }} ratings)
                                                </p>
                                                <p>
                                                    <a href="/evaluate?url={{ item.url | encode_url }}" target="evaluate_window">Rate it</a>
                                                    for up to
                                                                <span class="text_blue">
                                                                    <span class="m_big_bold">
                                                                        {{ item.url | get_reward_points(logged_in_user) }}
                                                                    </span>
                                                                    points!
                                                                </span>
                                                </p>
                                            </div>
                                        </li>
                                        {% if ((loop.index0 + 1) is divisibleby 3) or ((loop.index0 + 1) == 11) %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control left" href="#helprmd-carousel2" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#helprmd-carousel2" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
</div>