{% extends 'homepage.html' %}
{% block sidebar_ratings %}
<li>
    <p style="background-color:#dddddd"><a href="/getratings">My Ratings</a></p>
</li>
{% endblock sidebar_ratings %}
{% block content %}
<div id = "content_ratings">
<ul>
    {% if ratings | length == 0 %}
        You haven't rated any pages.
    {% endif %}
    {% for item in ratings %}
    <li>
        {{ logged_in_user.realname }} rate <span class="evalscore">{{ item.rating }}</span> on webpage <span class="evalurl" onclick="open_page(&quot;{{ item.url }}&quot;)">{{ item.url }}</span>.  ---{{ item.time | datetime_format }}
    </li>
    <hr />
    {% endfor %}
</ul>
</div>
{% endblock content %}
{% block rmdcontent %}
    <p>You might want to evaluate credibility of the following urls:</p>
    <ul>
    {% for item in recommendations %}
        <li>{{ item.topic }}:<a href="/evaluate?url={{ item.url | encode_url }}" target="evaluate_window">{{ item.url }}</a></li>
    {% endfor %}
    </ul>
{% endblock rmdcontent %}
