{% extends 'base1.html' %}
{% block modal_title %}
    Data Privacy
{% endblock modal_title %}
{% block modal_body %}
<h4>Social Networks Information</h4>
From your social networks accounts (e.g., Facebook, Twitter, LinkedIn) we retrieve id, name, profile picture, personal web site, location and the list of your social connections. Your name and picture will be visible to all users on our platform. The rest of the data that we retrieve will be visible only to you, and it will be used only to provide you with a better service (e.g., to tailor our credibility estimates to your profile) and for research purpose (e.g., to understand which features would better help our users to accurately evaluate web credibility). All the statistics available to unauthenticated users are based on global statistics over anonymized data. We do not disclose personal user data to any third group.

<h4>Personal Information on Credible Web</h4>
The additional information that you provide for your profile (e.g., email, expertise) will not be disclosed to any third party without your explicit agreement. This information is only used to provide you a better service.

<h4>Rating Data</h4>
By default, the evaluations that you provide will be visible to all users in the system, however, you may choose to make your evaluations anonymous to the other users. We will use this data for research purpose only and our results will be made publicly available. If you want your information to be removed from our database, please don't hesitate to <a href="mailto:alexandra.olteanu@epfl.ch">contact us</a>.
{% endblock modal_body %}
