{% extends 'base1.html' %}
{% block modal_title %}
    Data Privacy
{% endblock modal_title %}
{% block modal_body %}
<h4>Social Networks Information</h4>
The information we retrieve from your social network accounts(Facebook, Twitter) includes id, name, profile picture, personal website and location. We will display your name and picture on our website. We use other information for analysis and research purpose, and will never disclose this kind of information to a third group.

<h4>Personal Information on Credible Web</h4>
Additional information in your profile(such as email and expertise) will never be available to a third person. Basically, we use your email for your password change request, and expertise information for analysis.

<h4>Rating Data</h4>
The rating data will aggregated for research purposes. We will make our analysis, papers and applications publicly available. If you want your information to be removed from our database, please don't hesitate to <a href="mailto:zhicong.huang@epfl.ch">contact us</a>.
{% endblock modal_body %}
