{% extends "homepage.html" %}
{% block docs %}
<style>
    #cw_profile_block{
    position: relative
    }
    #cw_editprofile_block{
    position: absolute;
    top : 30px ;
    right: 0px ;
    background-color : #ffffff ;
    z-index : 1 ;
    box-shadow:rgba(0,0,0,0.3) 0px 3px 8px 0px; 
    border-radius:5px;
    border : 1px solid ;
    display : none ;
        width: 600px;
        padding: 20px;
    }
</style>
{% endblock docs %}
{% block main_legend %}Profile{% endblock main_legend %}
{% block content %}
<script type="text/javascript" src="/static/js/profile.js"></script>
<p id="profile_info">
    {% if success %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong> Your profile data have been saved.
    </div>
    {% endif %}
</p>
<div id="cw_profile_block">
<div>
    <a class="a_button rfloat" onclick="edit_request()" href="#">Edit</a>
    <h4 class="h3_style_1"><img src="/static/cw_icon.png" width="20" height="20" />Credible Web</h4>
    <div id="cw_editprofile_block"></div>
</div>
<table class="table_style_1">
<tr>
    <th></th>
    <td>
        <img width="70px" height="70px" src="{{ logged_in_user.picture }}" />
    </td>
</tr>
<tr>
    <th>Realname</th>
    <td>{{ logged_in_user.realname }}</td>
</tr>
<tr>
    <th>Website</th>
    <td>{{ cw_profile.website }}</td>
</tr>
<tr>
    <th>Location</th>
    <td>{{ cw_profile.location}}</td>
</tr>
<tr>
    <th>Expertise
    </th>
    <td>{{ cw_profile.expertise | get_expertise_text }}</td>
</tr>
</table>
</div>
<hr />
{% if fb_profile %}
<div>
    <a class="a_button rfloat" href="/update_fbprofile">Update</a>
    <h4 class="h3_style_1"><img src="/static/facebook_icon.png" width="20" height="20" />Facebook</h4>
</div>
<table class="table_style_1">
<tr>
    <th></th>
    <td>
        <img width="70px" height="70px" src="{{ fb_profile.picture }}" />
    </td>
</tr>
<tr>
    <th>Realname</th>
    <td>{{ fb_profile.realname }}</td>
</tr>
<tr>
    <th>Website</th>
    <td>{{ fb_profile.website }}</td>
</tr>
<tr>
    <th>Location</th>
    <td>{{ fb_profile.location}}</td>
</tr>
</table>
{% else %}
<p>
    You don't have a
    <a href="http://www.facebook.com">
        facebook
    </a>
    account. Merge one
    <a href="/facebookmerge">
        here
        <img src="/static/facebook.png" />
    </a>.
</p>
{% endif %}
<hr />
{% if tw_profile %}
<div>
    <a class="a_button rfloat" href="/update_twprofile">Update</a>
    <h4 class="h3_style_1"><img src="/static/twitter_icon.png" width="20" height="20" />Twitter</h4>
</div>
<table class="table_style_1">
<tr>
    <th></th>
    <td>
        <img width="70px" height="70px" src="{{ tw_profile.picture }}" />
    </td>
</tr>
<tr>
    <th>Realname</th>
    <td>{{ tw_profile.realname }}</td>
</tr>
<tr>
    <th>Website</th>
    <td>{{ tw_profile.website }}</td>
</tr>
<tr>
    <th>Location</th>
    <td>{{ tw_profile.location}}</td>
</tr>
</table>
{% else %}
<p>
    You don't have a
    <a href="http://www.twitter.com">
        twitter
    </a>
    account. Merge one
    <a href="/twittermerge">
        here
        <img src="/static/twitter.png" />
    </a>.
</p>
{% endif %}
{% endblock content %}

{% block rmdblock %}
{% endblock rmdblock %}
