{% extends 'base1.html' %}
{% block docs %}
    <script type="text/javascript" src="/static/js/welcome.js"></script>
    <link href="/static/css/frame1.css" rel="stylesheet">
    <style>
        .modal{
            width: 600px;
        }
    </style>
{% endblock docs %}
{% block modal_body %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <dl>
                        <dt>
                            Shape your view
                        </dt>
                        <dd>
                            See what others think about the web pages you browse
                        </dd>
                        <dt>
                            Discover
                        </dt>
                        <dd>
                            Find new reliable web pages
                        </dd>
                        <dt>
                            Give back
                        </dt>
                        <dd>
                            Tell others your opinions about the web pages you browse
                        </dd>
                    </dl>
                </div>
                <!--<div class="span1">-->
                    <!--<div class="divider-vertical"></div>-->
                <!--</div>-->
                <div class="span6">
                    <div>
                        <h5>Sign in with your Social Network:</h5>
                        <a href="/facebooklogin"><img src="/static/facebook.png" /></a>
                        <a href="/twitterlogin"><img src="/static/twitter.png" /></a>
                    </div>
                    <form action="/credibleweblogin" method="post">
                        <h5>Sign in with your Credible Web Account:</h5>
                        {% if login_error %}
                        <div class="alert alert-error">
                            <button type='button' class='close' data-dismiss='alert'>×</button>
                            {{login_error}}
                        </div>
                        {% endif %}
                        <input type="text" name="email" class="input-block-level" placeholder="Email">
                        <input type="password" name="password" class="input-block-level" placeholder="Password">
                        <button type="submit" class="btn btn-info pull-right">Sign in</button>

                    </form>

                </div>

            </div>
            <p class="pull-right">Don't have an account? <a href="/register">Sign up here</a></p>
        </div>
    <!--<div id="intro">-->
        <!--<h1>Credible Web</h1>-->
        <!--<div id="description">-->
        <!--Are you confused by online materials with all kinds of different opinions? Then this application is meant for-->
        <!--you to make a contribution to Web Content Credibility. We collect rating data from users, make recommendations and hopefully-->
        <!--help you identify credibility of web page as a final goal. Plus, it's funny to show your opinion, see what others think-->
        <!--about it, and earn points to the heaven!-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="login">-->
        <!--<div id="sn_login">-->
            <!--<p>Sign in with Social Network Accounts</p><br />-->
            <!--<a href="/facebooklogin"><img src="/static/facebook.png" /></a>-->
            <!--<a href="/twitterlogin"><img src="/static/twitter.png" /></a>-->
        <!--</div>-->
        <!--<div id="cw_login">-->
            <!--<p>Sign in with CredibleWeb Account</p><br />-->
            <!--<form action="/credibleweblogin" method="post" style="text-align:right">-->
                <!--<div>-->
                <!--Username:<input name="username" type="text" size="20" />-->
                <!--</div>-->
                <!--<div>-->
                <!--Password:<input name="password" type="password" size="20" />-->
                <!--</div>-->
                <!--<div>-->
                <!--<input type="submit" value="Sign in" />-->
                <!--</div>-->
            <!--</form>-->
            <!--{% if login_error %}-->
                <!--<p>{{ login_error }}</p>-->
            <!--{% endif %}-->
        <!--</div>-->
        <!--<div id="cw_sign_up">-->
            <!--Don't have an account? Sign up <a href="/register">Here</a>-->
        <!--</div>-->
        <!--<div class="expand"></div>-->
    <!--</div>-->
    <!--<div class="expand"></div>-->
{% endblock modal_body %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34029647-5', 'credibleweb.appspot.com');
  ga('send', 'pageview');

</script>