/* CSS Document */
/* /////////////// basic elements /////////////// */

body {
margin:0;
padding:0;
font:75%/1.4 verdana,Helvetica,sans-serif;
background-color:#dfdfdf;
}

p {margin:0;padding:0;}

acronym {
border:none;
}

a {
color:#D9189F;
text-decoration:none;
word-break: break-word;
}

a:hover, a:hover {
color:#FC7AD5;
text-decoration : underline ;
}

span.span_red{
color : red ;
}
span.span_hidden{
visibility : hidden ;
}
table{
font : inherit ;
}
div.expand{
clear : both ;
}
