/* CSS Document */
/* layout */
#container{
width: 620px;
margin:30px auto;
background-image:url(/static/water_background.png);
padding : 20px ;
border-radius: 8px;
}
#content{
padding : 15px ;
}
#footer{
text-align : right ;
margin: 30px auto 0px; 
}
#footer a{
color : #777777;
}

#intro{
background-color : #f9f9f9 ;
float : left ;
width : 250px ;
border-radius: 8px
}
#intro h1{
text-align : center ;
}

#description{
padding : 0px 20px 20px ;
line-height : 1.7 ;
}
#login{
float : right ;
}
#sn_login{
background-color : #f9f9f9 ;
width : 250px ;
margin-bottom : 20px ;
padding : 20px ;
border-radius: 8px;
}
#cw_login{
background-color : #f9f9f9 ;
width : 250px ;
margin-bottom : 20px ;
padding : 20px ;
border-radius : 8px ;
}
#cw_sign_up{
background-color : #f9f9f9 ;
width : 250px ;
padding : 20px ;
border-radius: 8px;
}

#feedback_title{
background-color: #222222;
color : #f9f9f9 ;
padding : 5px 20px ;
}
#feedback_form h4{
margin:0;
}
#feedback_record, #feedback_words, #feedback_type, #feedback_description, #feedback_browser, #feedback_email{
margin : 20px auto ;
padding : 5px ;
}
